*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#eef8ee;
}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:#1b5e20;

color:white;

}

nav ul{

display:flex;
gap:30px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;
font-weight:600;

}

.hero{

display:flex;
justify-content:space-around;
align-items:center;

padding:70px;

background:linear-gradient(#2e7d32,#4caf50);

color:white;

flex-wrap:wrap;

}

.texto{

width:500px;

}

.texto h1{

font-size:60px;

}

.texto h3{

font-size:35px;

color:#d4ff8b;

margin:15px 0;

}

.texto p{

line-height:1.8;

margin-bottom:30px;

}

button{

padding:15px 35px;

background:white;

color:#2e7d32;

border:none;

border-radius:40px;

cursor:pointer;

font-size:18px;

transition:.4s;

}

button:hover{

transform:scale(1.08);

}

.imagem img{

width:550px;

border-radius:20px;

animation:flutuar 4s infinite ease-in-out;

box-shadow:0 20px 40px rgba(0,0,0,.3);

}

@keyframes flutuar{

50%{

transform:translateY(-15px);

}

}

section{

padding:80px 10%;

text-align:center;

}

section h2{

font-size:40px;

color:#2e7d32;

margin-bottom:30px;

}

.cards{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

margin-top:40px;

}

.card{

width:320px;

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.2);

transition:.5s;

cursor:pointer;

}

.card:hover{

transform:translateY(-12px);

}

.card img{

width:100%;

height:230px;

object-fit:cover;

transition:.5s;

}

.card:hover img{

transform:scale(1.12);

filter:brightness(1.15);

}

.card h3{

margin:20px;

color:#2e7d32;

}

.card p{

padding:0 20px 25px;

}

.drone{

margin-top:40px;

width:700px;

max-width:90%;

border-radius:20px;

transition:.5s;

}

.drone:hover{

transform:scale(1.05);

}

footer{

background:#1b5e20;

color:white;

text-align:center;

padding:40px;

}

#mensagem{

font-size:24px;

color:#9cff8d;

margin-bottom:20px;

}
